body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:894px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u660_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:96px;
  background:inherit;
  background-color:rgba(129, 211, 248, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u660 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:207px;
  width:171px;
  height:96px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u660 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u660_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u661_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:96px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u661 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:71px;
  width:171px;
  height:96px;
  display:flex;
  font-size:16px;
}
#u661 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u661_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u662_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:96px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u662 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:207px;
  width:171px;
  height:96px;
  display:flex;
  font-size:16px;
}
#u662 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u662_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u663_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:96px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u663 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:343px;
  width:171px;
  height:96px;
  display:flex;
  font-size:16px;
}
#u663 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u663_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u664_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:96px;
  background:inherit;
  background-color:rgba(129, 211, 248, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u664 {
  border-width:0px;
  position:absolute;
  left:697px;
  top:207px;
  width:171px;
  height:96px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u664 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u664_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u665 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:255px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u665_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:82px;
  height:10px;
}
#u665_seg1 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:-141px;
  width:10px;
  height:146px;
}
#u665_seg2 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:-141px;
  width:78px;
  height:10px;
}
#u665_seg3 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:-145px;
  width:19px;
  height:18px;
}
#u665_text {
  border-width:0px;
  position:absolute;
  left:27px;
  top:-74px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u666 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:255px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u666_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:155px;
  height:10px;
}
#u666_seg1 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:-9px;
  width:19px;
  height:18px;
}
#u666_text {
  border-width:0px;
  position:absolute;
  left:25px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u667 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:255px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u667_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:83px;
  height:10px;
}
#u667_seg1 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:-5px;
  width:10px;
  height:146px;
}
#u667_seg2 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:131px;
  width:77px;
  height:10px;
}
#u667_seg3 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:127px;
  width:19px;
  height:18px;
}
#u667_text {
  border-width:0px;
  position:absolute;
  left:28px;
  top:58px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u668 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:255px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u668_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:155px;
  height:10px;
}
#u668_seg1 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:-9px;
  width:19px;
  height:18px;
}
#u668_text {
  border-width:0px;
  position:absolute;
  left:25px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u669 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:119px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u669_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:77px;
  height:10px;
}
#u669_seg1 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:-5px;
  width:10px;
  height:146px;
}
#u669_seg2 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:131px;
  width:83px;
  height:10px;
}
#u669_seg3 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:127px;
  width:19px;
  height:18px;
}
#u669_text {
  border-width:0px;
  position:absolute;
  left:22px;
  top:63px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u670 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:391px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u670_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:77px;
  height:10px;
}
#u670_seg1 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:-141px;
  width:10px;
  height:146px;
}
#u670_seg2 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:-141px;
  width:83px;
  height:10px;
}
#u670_seg3 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:-145px;
  width:19px;
  height:18px;
}
#u670_text {
  border-width:0px;
  position:absolute;
  left:22px;
  top:-79px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u671 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u672_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:145px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u672 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:558px;
  width:131px;
  height:145px;
  display:flex;
}
#u672 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u672_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u673_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:32px;
  background:inherit;
  background-color:rgba(129, 211, 248, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u673 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:558px;
  width:25px;
  height:32px;
  display:flex;
}
#u673 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u673_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u674 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u675_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:145px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u675 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:558px;
  width:131px;
  height:145px;
  display:flex;
}
#u675 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u675_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:42px;
}
#u676 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:558px;
  width:25px;
  height:32px;
  display:flex;
}
#u676 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u676_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u677 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u678_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:145px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u678 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:558px;
  width:131px;
  height:145px;
  display:flex;
}
#u678 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u678_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u679_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:32px;
  background:inherit;
  background-color:rgba(129, 211, 248, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u679 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:558px;
  width:25px;
  height:32px;
  display:flex;
}
#u679 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u679_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u680 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u681_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:145px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u681 {
  border-width:0px;
  position:absolute;
  left:763px;
  top:558px;
  width:131px;
  height:145px;
  display:flex;
}
#u681 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u681_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u682_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:32px;
  background:inherit;
  background-color:rgba(129, 211, 248, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u682 {
  border-width:0px;
  position:absolute;
  left:763px;
  top:558px;
  width:25px;
  height:32px;
  display:flex;
}
#u682 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u682_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u683_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Nunito Sans Bold', 'Nunito Sans Regular', 'Nunito Sans';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u683 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:23px;
  width:200px;
  height:27px;
  display:flex;
  font-family:'Nunito Sans Bold', 'Nunito Sans Regular', 'Nunito Sans';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u683 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u683_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u684_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Nunito Sans Bold', 'Nunito Sans Regular', 'Nunito Sans';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u684 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:495px;
  width:120px;
  height:27px;
  display:flex;
  font-family:'Nunito Sans Bold', 'Nunito Sans Regular', 'Nunito Sans';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u684 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u684_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u685 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:628px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u685_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-7px;
  width:75px;
  height:14px;
}
#u685_seg1 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:-13px;
  width:27px;
  height:26px;
}
#u685_text {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u686 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:628px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u686_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-7px;
  width:75px;
  height:14px;
}
#u686_seg1 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:-13px;
  width:27px;
  height:26px;
}
#u686_text {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u687 {
  border-width:0px;
  position:absolute;
  left:682px;
  top:628px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u687_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-7px;
  width:75px;
  height:14px;
}
#u687_seg1 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:-13px;
  width:27px;
  height:26px;
}
#u687_text {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
