body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:894px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u382_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:96px;
  background:inherit;
  background-color:rgba(129, 211, 248, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u382 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:207px;
  width:171px;
  height:96px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u382 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u382_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u383_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:96px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u383 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:71px;
  width:171px;
  height:96px;
  display:flex;
  font-size:16px;
}
#u383 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u383_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u384_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:96px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u384 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:207px;
  width:171px;
  height:96px;
  display:flex;
  font-size:16px;
}
#u384 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u384_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u385_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:96px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u385 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:343px;
  width:171px;
  height:96px;
  display:flex;
  font-size:16px;
}
#u385 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u385_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u386_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:96px;
  background:inherit;
  background-color:rgba(129, 211, 248, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u386 {
  border-width:0px;
  position:absolute;
  left:697px;
  top:207px;
  width:171px;
  height:96px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u386 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u386_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u387 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:255px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u387_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:82px;
  height:10px;
}
#u387_seg1 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:-141px;
  width:10px;
  height:146px;
}
#u387_seg2 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:-141px;
  width:78px;
  height:10px;
}
#u387_seg3 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:-145px;
  width:19px;
  height:18px;
}
#u387_text {
  border-width:0px;
  position:absolute;
  left:27px;
  top:-74px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u388 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:255px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u388_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:155px;
  height:10px;
}
#u388_seg1 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:-9px;
  width:19px;
  height:18px;
}
#u388_text {
  border-width:0px;
  position:absolute;
  left:25px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u389 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:255px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u389_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:83px;
  height:10px;
}
#u389_seg1 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:-5px;
  width:10px;
  height:146px;
}
#u389_seg2 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:131px;
  width:77px;
  height:10px;
}
#u389_seg3 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:127px;
  width:19px;
  height:18px;
}
#u389_text {
  border-width:0px;
  position:absolute;
  left:28px;
  top:58px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u390 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:255px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u390_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:155px;
  height:10px;
}
#u390_seg1 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:-9px;
  width:19px;
  height:18px;
}
#u390_text {
  border-width:0px;
  position:absolute;
  left:25px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u391 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:119px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u391_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:77px;
  height:10px;
}
#u391_seg1 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:-5px;
  width:10px;
  height:146px;
}
#u391_seg2 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:131px;
  width:83px;
  height:10px;
}
#u391_seg3 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:127px;
  width:19px;
  height:18px;
}
#u391_text {
  border-width:0px;
  position:absolute;
  left:22px;
  top:63px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u392 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:391px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u392_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:77px;
  height:10px;
}
#u392_seg1 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:-141px;
  width:10px;
  height:146px;
}
#u392_seg2 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:-141px;
  width:83px;
  height:10px;
}
#u392_seg3 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:-145px;
  width:19px;
  height:18px;
}
#u392_text {
  border-width:0px;
  position:absolute;
  left:22px;
  top:-79px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u393 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u394_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:145px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u394 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:558px;
  width:131px;
  height:145px;
  display:flex;
}
#u394 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u394_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u395_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:32px;
  background:inherit;
  background-color:rgba(129, 211, 248, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u395 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:558px;
  width:25px;
  height:32px;
  display:flex;
}
#u395 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u395_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u396 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u397_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:145px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u397 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:558px;
  width:131px;
  height:145px;
  display:flex;
}
#u397 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u397_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u398_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:42px;
}
#u398 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:558px;
  width:25px;
  height:32px;
  display:flex;
}
#u398 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u398_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u399 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u400_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:145px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u400 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:558px;
  width:131px;
  height:145px;
  display:flex;
}
#u400 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u400_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u401_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:32px;
  background:inherit;
  background-color:rgba(129, 211, 248, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u401 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:558px;
  width:25px;
  height:32px;
  display:flex;
}
#u401 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u401_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u402 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u403_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:145px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u403 {
  border-width:0px;
  position:absolute;
  left:763px;
  top:558px;
  width:131px;
  height:145px;
  display:flex;
}
#u403 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u403_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u404_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:32px;
  background:inherit;
  background-color:rgba(129, 211, 248, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u404 {
  border-width:0px;
  position:absolute;
  left:763px;
  top:558px;
  width:25px;
  height:32px;
  display:flex;
}
#u404 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u404_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u405_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Nunito Sans Bold', 'Nunito Sans Regular', 'Nunito Sans';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u405 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:23px;
  width:200px;
  height:27px;
  display:flex;
  font-family:'Nunito Sans Bold', 'Nunito Sans Regular', 'Nunito Sans';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u405 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u405_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u406_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Nunito Sans Bold', 'Nunito Sans Regular', 'Nunito Sans';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u406 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:495px;
  width:120px;
  height:27px;
  display:flex;
  font-family:'Nunito Sans Bold', 'Nunito Sans Regular', 'Nunito Sans';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u406 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u406_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u407 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:628px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u407_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-7px;
  width:75px;
  height:14px;
}
#u407_seg1 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:-13px;
  width:27px;
  height:26px;
}
#u407_text {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u408 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:628px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u408_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-7px;
  width:75px;
  height:14px;
}
#u408_seg1 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:-13px;
  width:27px;
  height:26px;
}
#u408_text {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u409 {
  border-width:0px;
  position:absolute;
  left:682px;
  top:628px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u409_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-7px;
  width:75px;
  height:14px;
}
#u409_seg1 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:-13px;
  width:27px;
  height:26px;
}
#u409_text {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
