body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:894px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u507_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:102px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u507 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:167px;
  width:178px;
  height:102px;
  display:flex;
}
#u507 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u507_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u508_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:63px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u508 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:78px;
  width:178px;
  height:63px;
  display:flex;
}
#u508 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u508_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u509_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:63px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u509 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:186px;
  width:178px;
  height:63px;
  display:flex;
}
#u509 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u509_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u510_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:63px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u510 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:294px;
  width:178px;
  height:63px;
  display:flex;
}
#u510 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u510_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u511_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:102px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u511 {
  border-width:0px;
  position:absolute;
  left:604px;
  top:167px;
  width:178px;
  height:102px;
  display:flex;
}
#u511 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u511_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u512 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u513_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:145px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u513 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:528px;
  width:131px;
  height:145px;
  display:flex;
}
#u513 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u513_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u514_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:32px;
  background:inherit;
  background-color:rgba(129, 211, 248, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u514 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:528px;
  width:25px;
  height:32px;
  display:flex;
}
#u514 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u514_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u515 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u516_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:145px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u516 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:528px;
  width:131px;
  height:145px;
  display:flex;
}
#u516 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u516_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u517_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:42px;
}
#u517 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:528px;
  width:25px;
  height:32px;
  display:flex;
}
#u517 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u517_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u518 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u519_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:145px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u519 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:528px;
  width:131px;
  height:145px;
  display:flex;
}
#u519 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u519_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u520_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:32px;
  background:inherit;
  background-color:rgba(129, 211, 248, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u520 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:528px;
  width:25px;
  height:32px;
  display:flex;
}
#u520 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u520_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u521 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u522_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:145px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u522 {
  border-width:0px;
  position:absolute;
  left:763px;
  top:528px;
  width:131px;
  height:145px;
  display:flex;
}
#u522 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u522_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u523_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:32px;
  background:inherit;
  background-color:rgba(129, 211, 248, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u523 {
  border-width:0px;
  position:absolute;
  left:763px;
  top:528px;
  width:25px;
  height:32px;
  display:flex;
}
#u523 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u523_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u524_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Nunito Sans Bold', 'Nunito Sans Regular', 'Nunito Sans';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u524 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:481px;
  width:120px;
  height:27px;
  display:flex;
  font-family:'Nunito Sans Bold', 'Nunito Sans Regular', 'Nunito Sans';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u524 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u524_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u525 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:598px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u525_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-7px;
  width:75px;
  height:14px;
}
#u525_seg1 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:-13px;
  width:27px;
  height:26px;
}
#u525_text {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u526 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:598px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u526_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-7px;
  width:75px;
  height:14px;
}
#u526_seg1 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:-13px;
  width:27px;
  height:26px;
}
#u526_text {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u527 {
  border-width:0px;
  position:absolute;
  left:682px;
  top:598px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u527_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-7px;
  width:75px;
  height:14px;
}
#u527_seg1 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:-13px;
  width:27px;
  height:26px;
}
#u527_text {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u528 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:218px;
  width:0px;
  height:0px;
}
#u528_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:48px;
  height:10px;
}
#u528_seg1 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:-113px;
  width:10px;
  height:118px;
}
#u528_seg2 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:-113px;
  width:33px;
  height:10px;
}
#u528_seg3 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:-117px;
  width:19px;
  height:18px;
}
#u528_text {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-54px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u529 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:218px;
  width:0px;
  height:0px;
}
#u529_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:76px;
  height:10px;
}
#u529_seg1 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:-9px;
  width:19px;
  height:18px;
}
#u529_text {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u530 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:218px;
  width:0px;
  height:0px;
}
#u530_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:48px;
  height:10px;
}
#u530_seg1 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:-5px;
  width:10px;
  height:118px;
}
#u530_seg2 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:103px;
  width:33px;
  height:10px;
}
#u530_seg3 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:99px;
  width:19px;
  height:18px;
}
#u530_text {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:38px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u531 {
  border-width:0px;
  position:absolute;
  left:491px;
  top:110px;
  width:0px;
  height:0px;
}
#u531_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:57px;
  height:10px;
}
#u531_seg1 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:-5px;
  width:10px;
  height:118px;
}
#u531_seg2 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:103px;
  width:66px;
  height:10px;
}
#u531_seg3 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:99px;
  width:19px;
  height:18px;
}
#u531_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u532 {
  border-width:0px;
  position:absolute;
  left:491px;
  top:218px;
  width:0px;
  height:0px;
}
#u532_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:118px;
  height:10px;
}
#u532_seg1 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:-9px;
  width:19px;
  height:18px;
}
#u532_text {
  border-width:0px;
  position:absolute;
  left:6px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u533 {
  border-width:0px;
  position:absolute;
  left:491px;
  top:326px;
  width:0px;
  height:0px;
}
#u533_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:57px;
  height:10px;
}
#u533_seg1 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:-113px;
  width:10px;
  height:118px;
}
#u533_seg2 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:-113px;
  width:66px;
  height:10px;
}
#u533_seg3 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:-117px;
  width:19px;
  height:18px;
}
#u533_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-66px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u534_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Nunito Sans Bold', 'Nunito Sans Regular', 'Nunito Sans';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u534 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:34px;
  width:200px;
  height:27px;
  display:flex;
  font-family:'Nunito Sans Bold', 'Nunito Sans Regular', 'Nunito Sans';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u534 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u534_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
